.nav-link{
    color: #1D67D2;
}
.container{
    text-align: center;
    color: #1D67D2;
}
.br{
    color: black;
    font-size:small;
}

.c{
    background-image: linear-gradient(to right, #0099FF , #00FFFF);

}
.card{
    width:20px;
}
.gt{
    text-align:left;
    color:black;
    font-size:smaller;
   // padding-right: 20%;
}
.f{
    color:green;
    padding-right:5%;
}

.grad{
    background-image: linear-gradient(#00CCFF,#00CC00);
  }

  .r{
    color:white;
    font-size: medium;
   
  }

  .p{
    text-align:left;
    color:white;
    font-size:smaller;
  }
  .footer{
    background-color: #3399FF;
    color: white;
    text-align: center;
  }